<!doctype html>
<html lang='en' ng-app='redditApp'>

<head>
  <!--
        CDNs are used to reduce download size for devs for sake of this assignment, as well as is general 
        good case practice, as CDNs are cached by most browsers. 
    -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js'></script>
  <link rel='stylesheet' href='styles.css'>
  <!-- Angular Files -->
  <script src='js/index.js'></script>
  <script src='js/controllers/searchController.js'></script>
  <script src='js/controllers/listController.js'></script>
  <script src='js/controllers/postsController.js'></script>
  <title>Simple Reddit</title>
</head>

<body>
  <!-- Main App -->
  <div class='main' ng-controller='mainController'>
    <div id='search' class='area' ng-controller='searchController'>
      <input type='text' ng-model='search' />
      <button ng-click='searchSub(search)'>Search</button>
    </div>
    <div id='list' class='area' ng-controller='listController'>
      <ul>
        <li ng-repeat='sub in reddit '><label>{{sub.sub}}
          <input type='checkbox' ng-model='subsToShow[sub.sub]'></label>
        </li>
      </ul>
    </div>
    <div id='posts' class='area' ng-controller='postsController'>
      <div class ='post' ng-repeat='post in posts | orderBy: "ups" : true | filter: filterSubs'>

        <img src='{{post.thumbnail}}' ng-if='post.thumbnail'></img>
        <div class='content'>
          <div class='ups'>&#8691; {{post.ups}} 	
</div>
          <div class='subreddit'>/r/{{post.subreddit}}</div>
          <div class='title'><a href='{{post.url}}'>{{post.title}}</a></div>
          <div class='author'>/u/{{post.author}}</div>
          <div class='comments'>Comments: {{post.num_comments}}</div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>